@import "tailwindcss";

:root {
  --primary: #110D3C;
  --secondary: #F26633;
  --light:#6A6A6A;
  --skyBlue: #7DD2EE;
  --sapphireBlue: #1E6a98;
  --accents-glaucous: #6F82AF;
  --accents-mustard: #F2B203;
  --accents-glaucous-3: #C74129;
}

@layer utilities {
  /* Custom properties */

  /* colors */
  @theme inline {
    --color-primary: var(--primary);
    --color-secondary: var(--secondary);
    --color-light: var(--light);
    --color-skyBlue: var(--skyBlue);
    --color-sapphireBlue: var(--sapphireBlue);
    --color-glaucous: var(--accents-glaucous);
    --color-mustard: var(--accents-mustard);
    --color-glaucous-3: var(--accents-glaucous-3);
  }

  /* typography */
  body {
    font-family: 'Poppins', sans-serif;
  }

  a,
  button {
    cursor: pointer;
  }

}