@import "tailwindcss";

:root {
  --primary: #1B2231;
  --primary2: #110D3C;
  --secondary: #F26633;
  --light: #6A6A6A;
  --color4: #0D54EB;
  --skyBlue: #7DD2EE;
  --sapphireBlue: #1E6a98;
  --accents-glaucous: #6F82AF;
  --accents-mustard: #F2B203;
  --accents-glaucous-3: #C74129;
  --main-border: #E3E5E8;
  --background-black1: #101010;
}

@layer utilities {
  /* Custom properties */

  /* colors */
  @theme inline {
    --color-primary: #1B2231;
    --color-primary2: #110D3C;
    --color-secondary: #424E61;
    --color-tertiary: #FF824F;
    --color-color4: #0D54EB;
    --color-light: var(--light);
    --color-skyBlue: var(--skyBlue);
    --color-sapphireBlue: var(--sapphireBlue);
    --color-glaucous: var(--accents-glaucous);
    --color-mustard: var(--accents-mustard);
    --color-glaucous-3: var(--accents-glaucous-3);
    --color-main-border: #E3E5E8;
    --color-background-black1: #101010;
  }

  /* typography */
  body {
    font-family: var(--font-jakarta);
  }

  a,
  button {
    cursor: pointer;
  }

}


/* .image-container {
    width: 100%;
    overflow: hidden;

    clipPath: path(
      "M 0 40 A 40,40 0,0,1 40 0 L 1280 0 A 40,40 0,0,1 1320 40 L 1320 540 A 40,40 0,0,1 1280 580 L 690 580 A 25,25 0,0,0 680 583 L 6 700 ");
} */